.big-box {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-top: 1rem;
    
}
.text-align-center {
    text-align: center;

}
.bkg-primary {
    background-color: #83c8d9;
}
.bkg-smokey {
    background-color: #cbcad0;
}
.special-border {
    border: 6px solid #cecac0;
}
.stand-border {
    border: 1px solid black;
}
.border-rad {
    border-radius: 4px;
}
.txt-white {
    color: white;
}
.txt-black {
    color: rgb(0, 0, 0);
}
.txt-attention {
    color: rgb(255, 251, 0);
}
.txt-hot {
    color: rgb(255, 0, 0);
}
.txt-smokey {
    color: #cecac0;
}
.fw-bold {
    font-weight: bold;
}
.quick-font {
    font-family: "Spectral SC";
}
.card {
    background-color: #83c8d9;
    border: 6px solid #cecac0;
    border-radius: 4px;
    padding: 12px;
}
.pad-1 {
    padding: 1rem;
}
.pad-2 {
    padding: 2rem;
}
.pad-3 {
    padding: 3rem;
}
.pad-4 {
    padding: 4rem;
}
.pad-5 {
    padding: 5rem;
}